#comments {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
  grid-column-gap: 1em;
  grid-row-gap: 15px;
}

.comments-container {
  margin: 2rem;
  grid-column: col 3 / span 6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 1024px) {
  .comments-container {
    grid-column: col / span 12;
  }
}

.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.comments-header__comments-count {
  font-weight: bold;;
}

.comments-header__button {
  padding: .5rem;
  margin: 0 0 0 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: white;
}

.comments-header__button.active {
  color: white;
  background-color: black;
}

.comments-container li {
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.comment-header__name {
  font-weight: bold;
  font-size: 1.1rem;
}

.comment-header__date {
  color: grey;
  font-size: .8rem;
  margin-left: 1rem;
}

.comment-header__likes {
  float: right;
  font-weight: bold;
  font-size: .8rem;
}

.comment-header__body {
  width: 80%;
  margin-top: 1rem;
  text-align: justify;
}