<div id="comments-template" hidden>
    \{{#if comments}}
    <div class="comments-container">
        <div class="comments-header">
            <span class="comments-header__comments-count">
                <i class="fa-comment comments-header__comment-icon" aria-label="comment-icon"></i>
                <span>\{{comments.length}} Comments</span>
            </span>
            <span class="comments-header__sort-icons">
                <span>Sort</span>
                <button id="sort-by-likes-button" class="comments-header__button" onclick="sortCommentsByLikes()">Likes</button>
                <button id="sort-by-date-button" class="comments-header__button comments-header__button-active" onclick="sortCommentsByDate()">Newest</button>
            </span>
        </div>
        <ul>
            \{{#each comments}}
                {{>comment this}}
            \{{/each}}
        </ul>
    </div>
    \{{/if}}
</div>
<div id="comments"></div>