<li>
    <div class="comment-header">
        <span class="comment-header__name">\{{name}}</span>
        <span class="comment-header__date">\{{dateFormatted}}</span>
        <span class="comment-header__likes">\{{likes}} Likes</span>
    </div>
    <p class="comment-header__body">
        \{{body}}
    </p>
</li>